<!--<ul *ngIf="loggedIn">
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>-->
  <button *ngIf="accountService.currentUser$ | async" (click)="logout()" class="logout-btn">Logout</button>
  <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
    <input 
    name="username"
    [(ngModel)]="model.username"
    type="text" 
    placeholder="Username">
    <input
    name="password"
    [(ngModel)]="model.password"
    type="password" 
    placeholder="Password">
    <button type="submit">Login</button>
  </form>