<button (click)="initNewCourse()">Create New Course</button>

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Units</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.description}}</td>
            <td>{{course.units}}</td>
            <td><button (click)="editCourse(course)">Edit</button></td>
        </tr>
    </tbody>
</table>

<app-edit-course [course]="courseToEdit" (courseUpdated)="updateCourseList($event)"></app-edit-course>