<app-navbar></app-navbar>
<h2>Course Table</h2>
<button (click)="initNewCourse()">Create New Course</button>

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Units</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{course.id}}</td>
            <td>{{course.name}}</td>
            <td>{{course.description}}</td>
            <td>{{course.units}}</td>
            <td><button (click)="editCourse(course)">Edit</button></td>
        </tr>
    </tbody>
</table>
<app-edit-course [course]="courseToEdit" (courseUpdated)="updateCourseList($event)"></app-edit-course>

<h2>Student Table</h2>
<button (click)="initNewStudent()">Create New Student</button>
<table>
    <thead>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td><button (click)="editStudent(student)">Edit</button></td>
        </tr>
    </tbody>
</table>
<app-edit-student [student]="studentToEdit" (studentUpdated)="updateStudentList($event)"></app-edit-student>
